---
layout: default
permalink: /
---

<section id="about">
  {% include about.html %}
</section>

<script>
  window.addEventListener("load", function() {
    const el = document.getElementById("about");
    if (el) {
      el.scrollIntoView({ behavior: "smooth" });
    }
  });
</script>

<section id="projects">
  {% include projects.html %}
</section>

<script>
  window.addEventListener("load", function() {
    const el = document.getElementById("projects");
    if (el) {
      el.scrollIntoView({ behavior: "smooth" });
    }
  });
</script>
