<div style="background-color: #FFFFFF; padding: 10px; max-width: 1000px; margin: auto; font-size: 16px; line-height: 1.5; overflow: hidden;">
  
  <img src="/particle_site/assets/img/headshot.jpg" alt="Headshot"
       style="float: left; width: 100%; max-width: 450px; height: auto; margin-right: 20px; margin-bottom: 10px; border-radius: 8px;">

  <p>
    <strong>Hello!</strong><br><br>
    <strong>Thank you for stopping by! I’m currently working on revamping my website. I plan to build out sections describing specific projects and workflows that I used to achieve those results.</strong><br><br>
    <strong>In the meantime, a little background on me:</strong><br><br>
    <strong>I love to solve difficult problems. I earned my PhD in biomedical engineering in August 2025 by developing a physical tool, called SPOTs, to help scientists and researchers be more effective and efficient in solving complex problems.</strong><br><br>
    <strong>SPOTs was built for bench scientists to test anywhere from 100 to over 100,000 reactions to discover new drug combinations, create new drug molecules, and streamline clinical assays, all for 10,000X less cost than available methods.</strong><br><br>
    <strong>Since biological and chemical reactions were run directly on SPOTs itself and it was designed to be broadly applicable across science, I had to develop ways to process and analyze the thousands of experiments we were quickly generating. This often came in the form of images, where I would look for information such as living cells being killed by drugs, or color changes when I modified a chemical compound.</strong><br><br>
    <strong>I used SPOTs for over 20 different projects and developed numerous Python-based pipelines to process the data and analyze the results (this is what helped me learn that I love data science!). After I extracted image data, I would leverage different statistical, ML, and AI techniques to give insight into the new discoveries we made or to suggest the next experiments to run to build stronger models.</strong><br><br>
    <strong>SPOTs was a technology that I spun out during my PhD, and I spent a large portion of my time pursuing. I focused on the business aspects of learning how we fit in the market and scaling the product to be cost-effective and manufactured on a large scale (of over 3000 tools per month!). I also worked with leading research labs around the country at Stanford, Weill Cornell Medicine, and Harvard to learn what aspects they liked and (potentially more importantly) didn’t like about the product to build it into a user-friendly, functional device.</strong><br><br>
    <strong>I have since chosen not to continue with the company due to challenges with the market. Through this work, I fell in love with developing complex Python data analysis pipelines and managing projects our incredible collaborators were working on.</strong><br><br>
    <strong>I am currently pursuing industry roles in data science, project management, and broader roles across life sciences and medicine where I can continue to solve difficult problems!</strong><br>
  </p>

</div>



<div class="user">
  <div class="tech">
    <h2>Analysis </h2>
  <div class="icons">
      <i class="icon fas fa-file-csv"></i>
      <i class="icon fas fa-microscope"></i>
      <i class="icon fas fa-chart-bar"></i>
    </div>
    <p>
      My work has focused on analyzing structured and unstructured data to extract actionable results and business insights.
      I love to craft clever visualizations to illustrate results in a way that helps us see around obvious findings and discover unique ones.
      I've recently really enjoyed incorporating machine learning and AI into my work to see if we can improve on the high-quality discoveries we find.
      However, I do believe that these tools aren't necessary in every use case, so I'm a big proponent of using them strategically and not just for the sake of using them.
    </p>
  </div>

  <div class="tech">
    <h2>Programming & <br>Software</h2>
  <div class="icons">
      <i class="devicon-python-plain"></i>
      <i class="devicon-git-plain"></i>
      <i class="devicon-docker-plain"></i>
    </div>
    <p>
      I have used many tools to extract, clean, analyze, and visualize large datasets. 
      My work during my PhD taught me how to know what questions to ask, and when to ask them. This has made learning new tools a fun challenge for me because I have the opportunity to learn as I go to solve challenging problems.
      A running list of the current tech stack that I work with includes: Python (numpy, pandas, scipy, matplotlib, seaborn, scikit-learn, umap, Jupyter notebooks), R, SQL, MATLAB, Power BI, Docker, Bash/Zsh, GitHub, and LaTeX.
  <div class="tech">
    <h2>Science <br> Communication</h2>
    <div class="icons">
      <i class="icon fas fa-chalkboard-teacher"></i>
      <i class="icon fas fa-pencil-alt"></i>
      <i class="icon fas fa-comments"></i>
    </div>
    <p>
      My experiences delivering talks at international scientific conferences and pitching those same ideas to entrepreneurs and investors has helped me hone my skills in science communcation.
      I find it really fun to discuss complex science with non-experts, as it's super rewarding for me to be able to have conversations about life-changing scientific discoveries with people that rarely are given the opportunity to engage in those conversations.
      I have received great ideas through these discussions, and find them highly important for driving science forward.
      These experiences have helped me develop the skills to confidently present complex results to non-technical audiences.
    </p>
  </div>
</div>
