<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Photography | Jonathan Albo</title>
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">
  <link rel="stylesheet" href="assets/css/Lightbox-Gallery.css">
  <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
<body>
 <div class="photo-gallery">
  <div class="photo-grid">
    <a data-lightbox="photos" href="/particle_site/assets/img/File%201.jpg"><img src="/particle_site/assets/img/File%201.jpg" alt="Photo 1"></a>
    <a data-lightbox="photos" href="/particle_site/assets/img/File%202.jpg"><img src="/particle_site/assets/img/File%202.jpg" alt="Photo 2"></a>
    <a data-lightbox="photos" href="/particle_site/assets/img/File%203.jpg"><img src="/particle_site/assets/img/File%203.jpg" alt="Photo 3"></a>
    <a data-lightbox="photos" href="/particle_site/assets/img/File%204.jpg"><img src="/particle_site/assets/img/File%204.jpg" alt="Photo 3"></a>
    <a data-lightbox="photos" href="/particle_site/assets/img/File%205.jpg"><img src="/particle_site/assets/img/File%205.jpg" alt="Photo 3"></a>
    <a data-lightbox="photos" href="/particle_site/assets/img/File%206.jpg"><img src="/particle_site/assets/img/File%206.jpg" alt="Photo 3"></a>
    <a data-lightbox="photos" href="/particle_site/assets/img/File%207.jpg"><img src="/particle_site/assets/img/File%207.jpg" alt="Photo 3"></a>
    <a data-lightbox="photos" href="/particle_site/assets/img/File%208.jpg"><img src="/particle_site/assets/img/File%208.jpg" alt="Photo 3"></a>
    <a data-lightbox="photos" href="/particle_site/assets/img/File%209.jpg"><img src="/particle_site/assets/img/File%209.jpg" alt="Photo 3"></a>
    <!-- Repeat for all 39 images -->
    <a data-lightbox="photos" href="/particle_site/assets/img/File%2039.jpg"><img src="/particle_site/assets/img/File%2039.jpg" alt="Photo 39"></a>
  </div>
</div>

<style>
.photo-gallery {
  padding: 20px;
  background-color: rgb(44, 44, 44);
}

.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 10px;
  justify-items: center;
}

.photo-grid img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  border-radius: 4px;
}
</style>


<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>

</body>
</html>
