<div class="user-details">
  <h1> Featured Projects - More Coming Soon! </h1>
</div>


<div class="user-projects">
	<link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">

  <div class="images-left">
    <img alt="wrting" src="{{ "/assets/img/Picture3.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> SPOTs for low-cost, high-throughput biological and chemical reactions </h3>
    <p>The SPOTs platform is a new generation of tools for scientist and researchers to perform more experiments for less cost.
      This platform allows scientists run experiments and answer questions previously thought to be impossible to test.
	During my PhD, I used this tool to generate more data across life sciences and medicine that exceeded what was previously able to be collected
	over the past 100 years combined!</p>
      <p align="center">
		  <a class="project-link" href="https://drive.google.com/file/d/1DtW1S80Kb11yYCSj24XXV3H0U6SK5ied/view?usp=sharing">Watch us use SPOTs to make 1000 combinations of 4 liquids in minutes!</a>
	      <a class="project-link" href="https://www.biorxiv.org/content/10.1101/2024.01.17.575712v1.full">Check out our paper on SPOTs!</a>
	  </p>
  </div>
</div>

<div class="user-projects">

  <div class="images-right">
    <img alt="galaxy" src="{{ "/assets/img/Picture2.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3>Machine Learning + SPOTs = new drugs to treat bacterial infections</h3>
    <p>Once we were able to run 10,000+ experinments with SPOTs, we pulled all of the existing drug combination data from previous research studies.
		We trained a machine learning model on this data, and used it to predict what new drug combinations might be effective at killing bacteria.
		This project was a collaboration with a group at University of Michigan Medicine, where we doubled all of the data available from research studies within the past 30 years in a single day with SPOTs.
		We discovered 10 novel drug combinations that are being explored for use in the clinic to treat humans!
	</p>
      <p align="center"><a class="project-link" href="https://www.biorxiv.org/content/10.1101/2024.11.25.625231v1.full">Check out our machine learning + SPOTs paper!</a></p>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="particle-physics" src="{{ "/assets/img/chemreactionsSPOTs.gif" | prepend: site.baseurl }}"/>
  </div>
  <div class="contents-right">
    <h3> Public Data Visualizations</h3>
    <p>My most ambitious project stemmed from the idea of pushing the limits of SPOTs and questioning how we can discover new drug and chemical formulations.
		Here, we ran 150,000 experiments in a month, 10,000 times more than what would commonly be done in a chemistry lab. 
		We discovered thousands of new reactions from a chemical process that's been known since 1890. 
		This chemical process was previously thought to be exhausted of all potential reactions that could reasonably be produced, until we levaraged SPOTs to prove otherwise.
		The gif here represents just ~1/50th of the total data we collected, where we leverage changes in colors to represent complex chemical reactions.
		We then uncover the chemistry behind these color changes to discover new reactions.
		A thoroughly described data workflow and written manuscript is in the works to share here!
     </p>
  </div>
</div>
<!--
<div class="user-projects">
  <div class="images-right">
    <img alt="machine-learning-visualization" src="{{ "/assets/img/ml_visualization.gif" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> Interactive Visualization of Machine Learning Evaluation Metrics </h3>
    <p>
      A dashboard to play around with and observe the effects of class imbalance or model strength on evaluation metrics.
		  This project made it into the official <a href="https://voila-gallery.org/services/gallery/">Voila gallery</a>.
    </p>
    <p align="center"><a class="project-link" href="https://machine-learning-visualization.herokuapp.com">Check it out</a></p>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="reading" src="{{ "/assets/img/patrick-tomasso-Oaqk7qqNh_c-unsplash.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Data Science Links </h3>
    <p>
      I maintain a collection of articles which I've found helpful in my professional development, especially in my data science journey.
      Feel free to contribute.
      In addition, I've compiled a list of data science aphorisms on twitter.
    </p>
    <p align="center">
      <a class="project-link" href="https://data-science-links.netlify.app">Article List</a>
      <a class="project-link" href="https://twitter.com/i/events/1255884468402913282">"Data Science Wit and Wisdom"</a>
    </p>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mplcyberpunk" src="{{ "/assets/img/colormap.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left" style="margin: 0; top: 50%">
    <h3> GitHub Projects </h3>
    <p> I'm hosting a number of smaller projects on GitHub.
    This includes e.g. cookiecutter templates, bashrc templates, or minimal examples for creating machine learning services.
    Also, I've created the <i>mplcyberpunk</i> Python package to create TRON-style data visualizations.
    Feel free to have a look around.
      </p>
      <p align="center"><a class="project-link" href="https://github.com/dhaitz">Check it out</a></p>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="twitter-bot" src="{{ "/assets/img/twitter-bot.png" | prepend: site.baseurl }}"/>
  </div>
  <div class="contents-right">
    <h3>"Cognitively Biased" </h3>
    <p>To remind us humans about all the subconscious flaws in our reasoning, I've created "Cognitively Biased",
      a Twitter bot that tweets one entry from Wikipedia's list of cognitive biases every day.
     </p>
    <p align="center"><a class="project-link" href="https://twitter.com/cog_biased">Check it out</a></p>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="twitter-bot" src="{{ "/assets/img/mpl-style.gif" | prepend: site.baseurl }}"/>
  </div>
  <div class="contents-left">
    <h3>Matplotlib Style Tools </h3>
    <p>I've built several websites to help people create more aesthetically pleasing graphs:
      The Matplotlib Style Configurator to interactively explore the effects of different parameter changes,
      the Matplotlib Style Poll to vote for your favorite style and discover new ones,
      and the interactive Matplotlib colormap generator.
     </p>
     <p align="center">
       <a class="project-link" href="http://matplotlib-style-configurator.herokuapp.com">Style Configurator</a>
       <a class="project-link" href="http://matplotlib-style-voting.herokuapp.com">Style Voting</a>
       <a class="project-link" href="https://share.streamlit.io/dhaitz/colormap-creator/main/app.py">Colormap Generator</a>
     </p>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="stock-art" src="{{ "/assets/img/stock-art.png" | prepend: site.baseurl }}"/>
  </div>
  <div class="contents-right">
    <h3> Artistic Stock Price Chart Generator </h3>
    <p>
      An interactive online tool to embed stock price chart (for various companies) as a mountain range silhouette in a photo.
      The screenshot shows 10 years of Apple.
     </p>
    <p align="center">
      <a class="project-link" href="http://stock-chart-art.herokuapp.com">Check it out</a>
    </p>
  </div>
</div>

  <div class="user-projects">
    <div class="images-right">
      <img alt="particle-physics" src="{{ "/assets/img/particle-physics.png" | prepend: site.baseurl }}"/>
    </div>
    <div class="contents-left">
      <h3> Particle Physics </h3>
      <p>In my PhD thesis, I've analyzed proton collisions at CERN's Large Hadron Collider to derive insights on the structure of matter.
        At the same time, I've co-written the ARTUS framework for data analysis in high-energy physics.
        Its architecture and design principles are described in a separate paper.
       </p>
      <p align="center">
      <a class="project-link" href="https://ekp-invenio.physik.uni-karlsruhe.de/record/48801/files/EKP-2016-00013.pdf" >Thesis</a>
      <a class="project-link" href="https://arxiv.org/abs/1511.00852">ARTUS Paper</a>
      </p>
    </div>
  </div>

  <div class="user-projects">
    <div class="images-left">
      <img alt="reading" src="{{ "/assets/img/dariusz-sankowski-dvK_CT1Wg78-unsplash.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="contents-right">
      <h3> Other Interests </h3>
      <p>
        Apart from data and technology, my hobbies include photography and literary writing.
      </p>
      <p align="center">
        <a class="project-link" href="http://www.dominikhaitz.de">Photography Page</a>
        <a class="project-link" href="https://beschriftet.jimdofree.com/mitglieder/dominik-haitz/">Author Information</a>
      </p>
    </div>
  </div>

</div>
-->
